#header{
	height:4.5em;
}
.course-pic,.course-pic > img{
	height:100%;
	display: inline;
	max-width: 20%;
}
.course-title{
	position: absolute;;
	top:0;
	left:20%;
}
.course-teacher{
	height:100%;
	display: inline;
	/*max-width: 40%;*/
	width:50%;
	position: absolute;
	top:0;
	left:60%;
}
.course-teacher > img{
	height: 100%;
}
.back-home{
	display: inline;
	max-width: 10%;
	position: absolute;
	top: 0;
	right: 0;
}