* {
    margin: 0;
    padding: 0;
}
#nav_scroll {
    width: 900em;
    overflow: hidden;
    position: relative;
}
#nav_scroll_holder {
    position: fixed;
    left: 6.5em;
    right: 6.5em;
    top: 3.5em;
    overflow: hidden;
    z-index: 10999;
}
.horizontalButton{
    float: none;
    display: inline-block;
}
#content_holder {
    margin-top: 3.5em;
}
.ui-content {
    position: absolute;
    top:3.5em;
    bottom: 3.5em;
    left:0;
    right:0;
}