* {
    margin: 0;
    padding: 0;
}
#nav_scroll {
    width: 900em;
    overflow: hidden;
    position: relative;
}
#nav_scroll_holder {
    position: fixed;
    left: 7em;
    right: 7em;
    top: 3.5em;
    overflow: hidden;
}
.horizontalButton{
    float: none;
    display: inline-block;
}
.ui-content {
    position: absolute;
    top:43px;
    bottom: 44px;
}